body {
	margin:0;
	width: 100%;
	background: url('../images/fondo.jpg') no-repeat;
	background-color: #7fabc2;
}

.logo {
	position: absolute;
	top: 10%;
	right: 50%;
	margin: -10px -175px 0;
}

.min {
	position: absolute;
	bottom: 10%;
	right: 50%;
	margin: 0 -150px -10px 0;
}

